---
// src/pages/index.astro
import Layout from '@/layouts/Layout.astro'
import MainContent from '@/components/MainContent'
import ToolList from '../components/ToolItem.astro'
import { getToolsByCategory } from '@/lib/data-utils'

// サーバーサイドでの事前処理
const tools = getToolsByCategory(null)
const categoryName = 'すべて'
---

<Layout title="QuickToolify - 便利なツールコレクション">
  <!-- 共通コンポーネントを使用 -->
  <ToolList tools={tools} categoryName={categoryName} />

  <!-- クライアントサイドコンポーネント -->
  <div style="display: none;">
    <MainContent client:idle initialCategoryId={null} />
  </div>
</Layout>